mxnet-cu100
dicttoxml
xmltodict
git+https://github.com/abhi-kumar/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI


efficientnet_pytorch
tensorboardX
# Torch=1.4 ==Torchvision= 0.5 == Python = 2.7 , >=3.5, <=3.8 , See https://pypi.org/project/torchvision/
torchvision==0.5
torch==1.4


numpy
scipy
tqdm
dicttoxml
xmltodict

jupyter
notebook
pandas
matplotlib
pillow

cython

opencv-python 
